<section class="section section-top section-full">
  <div class="bg-cover" style="background-image: url(assets/img/26.jpg);"></div>
  <div class="bg-overlay"></div>
  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col-md-6 col-lg-5">
        <p class="font-weight-medium text-xs text-uppercase text-white text-muted" data-toggle="animation" data-animation="fadeUp" data-animation-order="0" data-animation-trigger="load">
          by Simpleqode
        </p>
        <h1 class="text-white mb-4" data-toggle="animation" data-animation="fadeUp" data-animation-order="1" data-animation-trigger="load">
          Luxury homes for rental. Any country. Any time.
        </h1>
        <p class="text-white text-muted mb-5" data-toggle="animation" data-animation="fadeUp" data-animation-order="2" data-animation-trigger="load">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis quos vitae commodi sit, voluptas sequi adipisci vero repellat molestiae.
        </p>
        <div class="mb-5 mb-md-0" data-toggle="animation" data-animation="fadeUp" data-animation-order="3" data-animation-trigger="load">
          <a href="app.html#!" class="btn btn-outline-primary text-white">
            Download app
          </a>
          <a href="app.html#about" class="btn btn-link text-white">
            Find out more
          </a>
        </div>
      </div>

      <div class="col-md-5 offset-lg-1">
        <div class="text-center px-lg-4 mb-5 mb-md-0">
          <img src="assets/img/32.png" alt="..." class="img-fluid mx-auto">
        </div>
      </div>
      <div class="col-md-1 align-self-center d-flex justify-content-end">
        <h4 class="text-vertical text-white mb-0">
          <span>Incline app</span>
        </h4>
      </div>
    </div> <!-- / .row -->
  </div> <!-- / .container -->

</section>
<section class="section pb-0" id="about">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-6 col-lg-5 offset-lg-1">
        <div class="img-effect img-effect-solid mb-5 mb-md-0">
          <img src="assets/img/35.png" class="img-fluid" alt="...">
        </div>
      </div>
      <div class="col-md-6 col-lg-4 offset-lg-1">
        <h2 class="mb-4">
          Design & ergonomie
        </h2>
        <p class="text-muted">
          Faites bonne impression à vos utilisateurs en leur offrant un design alliant esthétique et expérience utilisateur inouïe.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-6 col-lg-5 offset-lg-1 order-md-2">
        <div class="img-effect img-effect-dotted mb-5 mb-md-0">
          <img src="assets/img/36.png" class="img-fluid" alt="...">
        </div>
      </div>
      <div class="col-md-6 col-lg-4 offset-lg-1 order-md-1">
        <h2 class="mb-4">
          Sécurité
        </h2>
        <p class="text-muted">
          Vos données sont importantes.
          Nous faisons de la sécurité et de l'intégrité de vos données une priorité.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="section bg-dark">

  <!-- Triangles -->
  <div class="bg-triangle bg-triangle-light bg-triangle-top bg-triangle-left"></div>
  <div class="bg-triangle bg-triangle-light bg-triangle-bottom bg-triangle-right"></div>

  <!-- Content -->
  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col-md-8">

        <!-- Heading -->
        <h3 class="text-white mb-4">
          Wait no more. Download it now.
        </h3>

        <!-- Content -->
        <p class="text-white text-muted mb-4 mb-md-0">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae dolores, voluptates atque dicta vero quibusdam laudantium saepe sequi harum.
        </p>

      </div>
      <div class="col-md-4">

        <!-- Button -->
        <a href="app.html#!" class="btn btn-outline-primary text-white">
          Download app
        </a>

      </div>
    </div> <!-- / .row -->
  </div> <!-- / .container -->

</section>


