
<section class="section section-top section-full">
  <div class="bg-cover" style="background-image: url(assets/img/background.jpg);"></div>
  <div class="bg-overlay"></div>
  <div class="bg-triangle bg-triangle-light bg-triangle-bottom bg-triangle-left"></div>
  <div class="bg-triangle bg-triangle-light bg-triangle-bottom bg-triangle-right"></div>
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col-md-12 col-lg-9 col-sm-12 col-xs-12">
        <h1 class="title-main">Votre expert digital</h1>
        <h4 class="ss-title-main">MARIGNANE / SAINT-VICTORET / MARSEILLE / AIX-EN-PROVENCE </h4>
      </div>
    </div>
  </div>
</section>

<section class="bg-light overflow-hidden">
  <div class="container">
    <div class="row align-items-stretch">
      <div class="col-12 col-md-6 section pb-0 py-md-0">
        <div class="img-half img-half-left">
          <img src="assets/img/59.jpg" alt="..." class="img-cover">
        </div>
      </div>
      <div class="col-12 col-md-6 col-xl-5 offset-xl-1 section">
        <h3 class="mb-4">
          Création de <span class="text-primary">site web</span>
        </h3>
        <p>
          Nous créeons des sites internet sur mesure. Aujourd'hui être présent sur le web augmente drastiquement votre visibilité.
          Du simple site vitrine, en passant par une solution d'e-commerce, exposez votre notoriété auprès de vos clients.
        </p>
        <a href="company.html#testimonials" class="btn btn-outline-primary">
          Découvrir
        </a>
      </div>
    </div>
  </div>
</section>

<section class="bg-dark overflow-hidden">
  <div class="container">
    <div class="row align-items-stretch">
      <div class="col-12 col-md-6 offset-xl-1 order-md-2">
        <div class="img-half">
          <img src="assets/img/hardware.jpg" alt="dépannage informatique" class="img-cover">
        </div>
      </div>
      <div class="col-12 col-md-6 col-xl-5 order-md-1 section">
        <h3 class="mb-4 title-app">
         Dépannage informatique <span class="text-primary">à domicile</span>.
        </h3>
        <p class="txt-app">
          Nous intervenons chez vous pour solutionner le plus rapidement possible votre matériel informatique.
          Fini les ordinateurs infectés et lents.
        </p>
        <a href="company.html#testimonials" class="btn btn-outline-primary">
          Prendre rendez-vous
        </a>
      </div>
    </div>
  </div>
</section>

<section class="bg-light overflow-hidden">
  <div class="container">
    <div class="row align-items-stretch">
      <div class="col-12 col-md-6 section pb-0 py-md-0">
        <div class="img-half img-half-left">
          <img src="assets/img/app.jpg" alt="Création d'application mobile" class="img-cover">
        </div>
      </div>
      <div class="col-12 col-md-6 col-xl-5 offset-xl-1 section">
        <h3 class="mb-4">
          Création d'application <span class="text-primary">pour smartphone</span>.
        </h3>
        <p>
          Besoin d'une belle application ? Nous développons des app pour les plateformes Androïd et iOS.
          Native ? Cross-plateform ? A vous de choisir.
        </p>
        <a href="company.html#testimonials" class="btn btn-outline-primary">
          Demandez un devis
        </a>
      </div>
    </div>
  </div>
</section>

<section class="section bg-dark keynote">
  <div class="bg-triangle bg-triangle-light bg-triangle-top bg-triangle-left"></div>
  <div class="bg-triangle bg-triangle-light bg-triangle-bottom bg-triangle-right"></div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 col-lg-6">
        <h2 class="text-white text-center mb-4">
          Formations
        </h2>
        <p class="text-white text-muted text-center mb-5">
          Les formations sont réalisées par un professionnel, diplômé d'état par un master RNCP niveau II spécialisé dans l'architecture logiciel.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="text-center mb-5 mb-md-0">
          <h4 class="text-white mb-3">
            Humain avant tout.
          </h4>
          <p class="text-white text-muted mb-0">
            Nous voulons casser les habitudes scolaires.<br>
            Les formations sont conviviales et pédagogiques.
          </p>
        </div>

      </div>
      <div class="col-md-4">
        <div class="text-center mb-5 mb-md-0">
          <h4 class="text-white mb-3">
            Adaptées à chaque niveau.
          </h4>
          <p class="text-white text-muted mb-0">
            Le formateur s'adapte en fonctions des compétences de chaque personne.
          </p>
        </div>

      </div>
      <div class="col-md-4">
        <div class="text-center">
          <h4 class="text-white mb-3">
            Approfondissez vos connaissances
          </h4>
          <p class="text-white text-muted mb-0">
            Nous réalisons des cours avec des exemples simples et des schémas pour pousser au maximum votre apprentissage sur un domaine précis.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section">

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 col-lg-6">
        <h2 class="text-center mb-4">
          Tarifs des prestations
        </h2>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-6 col-lg-4">
        <div class="card card-lg bg-white card-active mb-3 mb-lg-0">
          <div class="card-body text-center">
            <h4 class="card-title">
              Dépannage informatique & formation
            </h4>
            <h3 class="card-title font-weight-normal text-primary">
              49€/heure.
            </h3>

            <ul class="card-text list-iconed">
              <li class="list-iconed-item">
                Déplacement inclus (moins de 25 km)
              </li>
              <li class="list-iconed-item">
                Prestations réalisées en moins de 48H.
              </li>
            </ul>

            <!-- Button -->
            <a href="https://themes.getbootstrap.com/product/incline-landing-page-set/" target="_blank" class="btn btn-outline-primary">
              Prendre rendez-vous
            </a>

          </div>

        </div> <!-- / .card -->

      </div>
      <div class="col-md-6 col-lg-4">

        <!-- Card -->
        <div class="card card-lg bg-white">

          <!-- Body -->
          <div class="card-body text-center">

            <!-- Title -->
            <h4 class="card-title">
              Site web
            </h4>

            <!-- Price -->
            <h3 class="card-title font-weight-normal text-primary">
              A partir de 379.99€
            </h3>

            <!-- Text -->
            <ul class="card-text list-iconed">
              <li class="list-iconed-item">
                Site responsive
              </li>
              <li class="list-iconed-item">
                Design unique
              </li>
              <li class="list-iconed-item">
                Référencement naturel
              </li>
              <li class="list-iconed-item">
                Hébergement + DNS offert la première année.
              </li>
            </ul>

            <!-- Button -->
            <a href="https://themes.getbootstrap.com/product/incline-landing-page-set/" target="_blank" class="btn btn-outline-primary">
              Prendre rendez-vous
            </a>

          </div>

        </div> <!-- / .card -->

      </div>
    </div> <!-- / .row -->
  </div> <!-- / .container -->

</section>


<footer class="section bg-dark">

  <!-- Triangles -->
  <div class="bg-triangle bg-triangle-light bg-triangle-bottom bg-triangle-left"></div>
  <div class="bg-triangle bg-triangle-light bg-triangle-bottom bg-triangle-right"></div>

  <!--Content -->
  <div class="container">
    <div class="row align-self-center">
      <div class="col-md-auto">

        <!-- Brand -->
        <p>
          <a href="index.html#" class="footer-brand text-white">
            <img src="/assets/img/logo-2017.png" width="160" height="60" alt="Logo microvella">
          </a>
        </p>

      </div>

    </div> <!-- / .row -->
    <div class="row align-items-center">
      <div class="col-md">

        <!-- Copyright -->
        <p class="text-white text-muted">
          <small>
            &copy; Copyright <span class="current-year"></span> Microvella - Cyril VELLA. Tous droits réservés.
          </small>
        </p>

      </div>
      <div class="col-md">

        <!-- Social links -->
        <ul class="list-inline list-unstyled text-md-right">
          <li class="list-inline-item">
            <a href="index.html#">
              <i class="fab fa-github"></i>
            </a>
          </li>
          <li class="list-inline-item ml-3">
            <a href="index.html#">
              <i class="fab fa-twitter"></i>
            </a>
          </li>
          <li class="list-inline-item ml-3">
            <a href="index.html#">
              <i class="fab fa-instagram"></i>
            </a>
          </li>
        </ul>

      </div>
    </div> <!-- / .row -->
  </div> <!-- / .container -->

</footer>
